#!/bin/sh
# config
#~zach

#path to this repo
BASH_DIR=$( cd "$( dirname "${BASH_SOURCE[0]}" )" >/dev/null 2>&1 && pwd )
#path to telhub repos
MAIN_DIR=${BASH_DIR}/telhub
#path to devops repo
DEVOPS=${MAIN_DIR}/devops
#path to helm charts
CHARTS=${DEVOPS}/helm-charts
# local docker namespace
NAMESPACE='local'
# local docker context
CONTEXT='local'
# local k8 user
KUBEUSR='docker-for-desktop'
# local k8 cluster
CLUSTER='docker-for-desktop-cluster'
# if windows use the following else remove winpty
DOCKER='winpty docker'
# if windows will convert files with dos2unix / else set false
DOS=true

# select list for context
declare -A CONTEXTS
CONTEXTS[dev]='dev-telhub'
CONTEXTS[uat]='uat-telhub'
CONTEXTS[prf]='prf-telhub'
CONTEXTS[prd]='prd-telhub'
CONTEXTS[l]="$CONTEXT"
