#!/bin/sh
# config
#~zach

#path to helm charts
BASH_DIR=$( cd "$( dirname "${BASH_SOURCE[0]}" )" >/dev/null 2>&1 && pwd )
MAIN_DIR=${BASH_DIR}/telhub
DEVOPS=${MAIN_DIR}/devops
CHARTS=${DEVOPS}/helm-charts
# local docker namespace
NAMESPACE='local'
# local docker context
CONTEXT='local'
# if windows use the following else remove winpty
DOCKER='winpty docker'

# select list for context
declare -A CONTEXTS
CONTEXTS[d]='dev-telhub'
CONTEXTS[u]='uat-telhub'
CONTEXTS[f]='prf-telhub'
CONTEXTS[d]='prd-telhub'
CONTEXTS[l]="$CONTEXT"
